/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */

.container{
    width: 60%; 
}

.container-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.testa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px;
}

.nav{
    width: 50%;
    text-align: center;
}

.nav ul li{
    display: inline-block;
}

.nav ul li a{
    text-decoration: none;
}

.logo{
    width: 25%;
}

.login{
    width: 25%;
    text-align: right;
}

.nav,.login,.logo{
    padding: 3px 5px;
}
/* main */

.introduction{
    width: 50%;
    height: 250px;
}

.section-img{
    height: 250px;
    width: 60%;
}

.section-content{
    height: 250px;
    width: 40%;
}

#section-row-reverse{
    flex-direction: row-reverse;
}

.special-margin{
    padding: 30px 0;
}

.introduction-main{
    width: 60%;
    height: 400px;
}
.item-footer{
    height: 300px;
    width:calc(100% /4 - 2px);
    display: block;

}
.content-main-footer ul {
   display: flex;
   justify-content: space-between;
   width: 75%;
}
.left-main-footer{
height: 300px;
width:calc(25% - 2px)

}
.content-main-footer{
    display: flex;
   justify-content: space-between;
   flex-direction: row-reverse;
   padding: 5px 0 20px;
   
}
.footer{
    margin-top: 2px;
    align-items: flex-end;
}
.footer div{
    height: 50px;
    margin-top: 15px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    height: 16px;
}











.debug .testa{
    background-color: rgb(234, 171, 23);;
}

.debug .logo,.login,.nav{
    border: 1px dashed black;
}

.debug header{
    background-color: aqua;
}

.debug .bgsection-header-main{
    background-color: blue;
}


.debug .introduction{
    background-color: rgb(140, 84, 84);
    border: 1px dashed black;
}


.debug .section-img{
    background-color: rgb(33, 163, 238);
    border: 1px dashed rgb(39, 39, 73);
}

.debug .section-content{
    background-color:rosybrown ;
    border: 1px dashed black;
}

.debug #special-section{
    background-color: lightgrey;
}

.debug .introduction-main{
    background-color: green;
    border: 1px dashed black;
}
.debug .item-footer{
    background-color: aquamarine;
    border: 1px dashed black;
}
.debug .footer-main{
    background-color: black;
}
.debug .left-main-footer{
    background-color: rgb(226, 139, 17);
    border: 1px dashed black;
}
.debug .footer{
    background-color: black;
}
.debug .footer div{
    background-color: aquamarine;
}

.debug button{
    border: 1px dashed black;
}